{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
	<div id="station_select" class="col-sm-6">
		{{ form.status}}
	</div>
	<div id="observable_select" class="col-sm-6">
		{{ form.cron_run }}
	</div>
</div>
